<include file="./Public/tpl/base/meta.html"/>
<include file="./Public/tpl/base/ie.html"/>

<link href="__PUBLIC__/lib/hui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/lib/hui/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/lib/hui/skin/blue/skin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/lib/hui/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />