<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/hui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/hui/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/layer/2.1/layer.js"></script>